.hide-scroll-bar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
	display: none;
}

.toggle-checkbox:checked {
	right: 0;
	border-color: #68D391;
}
.toggle-checkbox:checked + .toggle-label {
	background-color: #68D391;
}